.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40vh 0;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgb(16, 13, 42) 0%,
    rgb(0, 0, 0) 30%,
    rgb(0, 0, 0) 70%,
    rgb(16, 13, 42) 100%
  );
}
.video{
  width: 100%;
  height: auto;
  max-width: 729px;
}
.overlay {
  text-align: center;
  padding: 10px;
}
