.video {
  background: linear-gradient(
    0deg,
    rgb(16, 13, 42) 0%,
    rgb(0, 0, 0) 30%,
    rgb(0, 0, 0) 70%,
    rgb(16, 13, 42) 100%
  );
  position: absolute;
  width: 100dvw;
  height: 100%;
  z-index: 0;
}

.overlay {
  z-index: 1;
  position: relative;
  text-align: center;
  padding: 10px;
}
