.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40vh 0;
  width: 100%;
  background: rgb(16, 13, 42);
  background: linear-gradient(
    0deg,
    rgba(16, 13, 42, 0) 0%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 70%,
    rgba(16, 13, 42, 0) 100%
  );
}
.video {
  width: 100%;
  height: auto;
  max-width: 729px;
}
.overlay {
  text-align: center;
  padding: 10px;
}
